/* Add your custom styles here */

.logo,.logo:hover{border:none !important;
color:#ffffff !important;}

.social{
    padding: .25rem;
}
.social:hover{
    background: #ffffff;
    padding: .25rem;
    border-radius: .25rem;
}